.grid-container {
    display: grid;

    padding-bottom: 1rem;
}

.grid-item {
    display: flex;
    justify-content: center;
}

/* mobile version */
.grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr minmax(3fr, auto);

    grid-gap: 1rem;

    padding-top: 3rem;
}

.logo {
    grid-row: 1;
}

.navbar {
    grid-row: 2;
}

.main {
    grid-row: 3;
}

/* Styles for viewports between 490px and 768px */
@media (min-width: 490px) and (max-width: 767px) {
    .grid-container {
        padding: 3rem 3rem;
    }

    /* Add other specific styles for elements within this viewport range */
}

/* desktop version */
@media (min-width: 768px) {
    .grid-container {
        margin: 0 auto;
        max-width: 768px;

        grid-template-columns: 8rem auto;
        grid-template-rows: 1fr auto;

        padding-top: 3rem;
    }

    .logo {
        grid-column: 1;
        grid-row: 1 / 2;

        justify-content: center;
    }

    .navbar {
        grid-column: 1;
        grid-row: 2 / 3;

        justify-content: center;
    }

    .main {
        padding-top: 1.33rem;

        grid-column: 2;
        grid-row: 1 / 3;

        justify-content: flex-start;
    }
}
